<configuration>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" />
	</system.web>
	<appSettings>
		<add key="dbconn" value="server=wdb1000.chi.us.securedata.net; database=ignite; uid=ignite; pwd=fire77;" />
		<add key="emailserver" value="2k3mail.siteprotect.com" />
	</appSettings>
</configuration>
