/* CSS Document */

body { font-family: arial; font-size: 12;}
h2{ margin: 0px 0px 10px 0px; padding: 0px;}
.navigation {margin: 0px 0px 10px 0px; padding: 0px; display: inline;}
.navigation li {margin: 0px 5px 0px 0px; padding: 0px;list-style: none; display: inline;}
table { font-family: arial; font-size: 12;}
tr.header td {background-color: #CC0000; color:#ffffff; text-align: center; padding-left: 10px; padding-right: 10px; font-weight: bold;}
tr.content_dark{background-color: #bbbbbb;}
tr.content_dark:hover {background-color: #ffcccc;}
tr.content_light{background-color: #dddddd;}
tr.content_light:hover {background-color: #ffcccc;}
.content td {padding-left: 10px; padding-right: 10px;}
input {font-family: arial; font-size: 12;}
textarea {font-family: arial; font-size: 12;}