
[statistics]
File_In = ../.analog/analog.output
Frame_File_Out = index.html
Verbose = e
Frame_Border = 0
No_Robots = 1
Format = XHTML 1.0

[reports]
BG_Color = white
#Background = images/back.jpg
Font_Color = #000000
Font = Verdana, Arial, Helvetica, sans-serif
Title_BG_Color = #EE0000
Title_Font_Color = #000000
Title_Font = Tahoma, Arial, Helvetica, sans-serif
Data_Color_1=#FFFFFF
Data_Color_2=#CCCCCC
Data_Header_Color = #888888
Data_Total_Color = #888888
Data_Font = Tahoma, Arial, Helvetica, sans-serif
File_Out = ./
Reverse_Time = 1
Graph_Level = 1
Stylesheet = /stats/report.css

[graphs]
3d = 1
Shadows = 2
Font_Color = #000000
Width = 400
Height = 300
Format= png
Font = C:\Winnt\Fonts\Arial.ttf, 14, 12, 10



[GENERAL]
LongName=Executive Summary
Rows=HN,HU,VE,PS,FR,LR,L7,E7,SR,S7,PR,P7,RR,R7,NF,N7,NH,H7,BT,B7

[QUICK]
LongName=General Overview
Rows= ALL

[QUARTERLY]
GraphType=bar3d

[YEARLY]
GraphType=bar3d

[MONTHLY]
GraphType=bar3d

[WEEKLY]
GraphType=bar3d

[DAILYREP]
GraphType=line2d

[DAILYSUM]
GraphType=bar3d

[HOURLYREP]
GraphType=line2d

[HOURLYSUM]
GraphType=line2d
Summary1 = [8-16],Work Hours (8:00am-4:59pm)
Summary2 = [0-7,17-23],After Hours (5:00pm-7:59am)

[WEEKSUM]
GraphType=lines2d

[WEEKHOUR]
GraphType=lines2d

[QUARTERREP]
GraphType=lines2d

[QUARTERSUM]
GraphType=lines2d

[FIvEREP]
GraphType=line2d

[FIVESUM]
GraphType=line2d

[HOST]
LogName=Top 50 Hosts

[ORGANISATION]
LogName=Top 20 Organizations

[DOMAIN]
LogName=Country Report
GraphType=bar3d

[REQUEST]
LogName=Most Popular Pages
GraphType=bar3d

[DIRECTORY]
LogName=Most Popular Directory
GraphType=bar3d

[FILETYPE]
LogName=File Type Report
GraphType=bar3d

[SIZE]
LogName=File Size Report
GraphType=bar3d

[PROCTIME]
LogName=Page Processging Time
GraphType=bar3d

[REDIR]
LogName=Redirection Report

[FAILURE]
LogName=404 Error Report

[REFERRER]
LogName=Top Referring URL Report
GraphType=bar3d

[REFSITE]
LogName=Top Referring Sites Report
GraphType=bar3d

[SEARCHQUERY]
LogName=Top Search Query Report

[SEARCHWORD]
LogName=Top Search Keyword Report

[REDIRREF]
LogName=Redirected Referrer Report
 
[FAILREF]
LogName=Failed Referrer Report

[BROWSERREP]
LogName=General Browser Report
GraphType=bar3d

[BROWSERSUM]
LogName=Summary Browser Report
GraphType=bar3d

[OSREP]
LogName=Operating System Summary
GraphType=bar3d

[VHOST]
LogName=Alias Report
GraphType=bar3d

[USER]
LogName=User Report
GraphType=bar3d

[FAILUSER]
LogName=User Failure Report
GraphType=bar3d

[STATUS]
LogName=Status Code Report
GraphType=bar3d


[navigation]   
Page_BG_Color=#666666
#Page_Background = images/back.jpg
Page_Font_Color = #000000
Page_Font = Verdana, Arial
File_Out = navfile.html

#WEBSTATS
Stylesheet = /stats/menu.css
Image_Ball = /stats/bullet.gif

[website]
#Webmaster = webmaster@domain.com

