<% title 'About us' %>
      <%= image_tag 'lilshimmy.gif', :height => 15 %><br>
      <%= image_tag 'about_header.gif' %><br>
			<span class=norm>
			<br>
			<b>"We're there when you need us."</b><br>
			<br>
			</span>
			<table border=0 cellpadding=0 cellspacing=0>
				<tr>
					<td width=354>
						<span class=norm>
						Every Chicago Fire Department vehicle proudly dons that phrase. It refers to the fact that the fire department is there whenever you call. It also speaks to the fire department's dedication to supporting charitable causes. Firemen are frequent organizers of events that raise funds for foundations such as Make-A-Wish, Gold Badge Society, Camp I Am Me and others. During the holidays, they also participate in toy drives by collecting toys and making deliveries all across the city.<br>
						<br>
						The phrase also represents the sense of family and unity that is felt among firefighters. They're always looking out for each other and are there for one another no matter what. That's why they hope the Ignite the Spirit Fund will draw just as much success as other charitable causes that the fire department proudly supports. By supporting the Fund, you're letting the firefighters know that you'll be there when they need you, too.<br>
						<br>
						<br>
						</span>
					</td>
				</tr>
			</table>
