<% title 'Contact' %>

<img src=images/lilshimmy.gif height=15><br>
<img src=images/contact_header.gif><br>
<% form_tag('/contact.aspx') do %>
  <span class=norm>
    We would like to hear from you.<br>
    <br>
    Name<br>
    <%= text_field_tag :name %>
    <br>
    Email address<br>
    <%= text_field_tag :email %>
    <br>
    Enter comments<br>
    <%= text_area_tag :msg, nil, :cols => 40, :rows => 10 %>
    <br>
    <%= image_submit_tag 'button_submit.gif' %>
    <br>
    <br>
    Mail correspondence to:<br>
    Ignite the Spirit Fund<br>
    5447 W. Cullom<br>
    Chicago, IL 60641<br>
    <br>
    Phone: 773-218-1038<br>
    <br>
  </span>
<% end %>
