<% title 'Home' %>
            <%= image_tag 'lilshimmy.gif', :height => 15 %><br>
            <%= image_tag 'index_header.gif' %><br>
            <span class=norm>
              <br>
              The Ignite the Spirit Fund was created to raise funds for Chicago firefighters and their families in times of need. By supporting the Ignite the Spirit Fund, you'll be helping the firefighters take care of their own. It's your chance to give something back to them for doing so much for the communities in which we live.<br>
              <br>
              <a href=about.aspx>Find out more</a><br>
              <br>
              <b>NOW ON SALE!  The Ignite The Spirit 2010 Calendar.<br /><a href="store.aspx">BUY IT NOW</a></b><br>
              <%= link_to image_tag('2010/2010-cal-cover.jpg', :height => 300, :style => "padding: 5px;"), store_path %><br>
              <br>
            </span>
