<% title 'Supporters' %>

      <%= image_tag 'lilshimmy.gif', :height => 15 %><br />
      <%= image_tag 'supporters_header.gif' %><br />
			<table border=0 cellpadding=0 cellspacing=0>
				<tr>
					<td width=354 colspan=2>
						<span class=norm>
						<br>
						Ignite the Spirit would like to thank everyone who has generously donated their time and money to help support our cause, especially:<br>
						<br>
						</span>
					</td>
				</tr>
				<tr>
					<td width=154>
						<span class=norm>
						<b>Rossana Reformado</b><br>
						<a href=http://www.re4mado.com target=_blank>Visit their site</a><br>
						<br>
						</span>
					</td>
					<td width=200 valign=top>
						<span class=norm>Photography</span><br>
					</td>
				</tr>
				<tr>
					<td width=154>
						<span class=norm>
						<b>Hostway</b><br>
						<a href=http://www.hostway.com target=_blank>Visit their site</a><br>
						<br>
						</span>
					</td>
					<td width=200 valign=top>
						<span class=norm>Website hosting</span><br>
					</td>
				</tr>
				<tr>
					<td width=154>
						<span class=norm>
						<b>Cardinal Colorprint</b><br>
						<a href=http://www.cardinalcolorprint.com target=_blank>Visit their site</a><br>
						<br>
						</span>
					</td>
					<td width=200 valign=top>
						<span class=norm>Calendar printing</span><br>
					</td>
				</tr>
				<!--
				<tr>
					<td width=154>
						<span class=norm>
						<b>Leaf and Calumet Photographic</b><br>
						<br>
						</span>
					</td>
					<td width=200 valign=top>
						<span class=norm>Digital camera back and photographic equipment</span><br>
					</td>
				</tr>
				-->
				<tr>
					<td width=154>
						<span class=norm>
						<b>Clarissa Estrada</b><br>
						<br>
						</span>
					</td>
					<td width=200 valign=top>
						<span class=norm>Biographies</span><br>
					</td>
				</tr>
	
				<tr>
					<td width=154>
						<span class=norm>
              <b><a href="http://soSoo.me">Jason Soo</a><br>Mike Ahern<br><a href="http://www.michaelpisula.com">Mike Pisula</a></b><br>
						<br>
						</span>
					</td>
					<td width=200 valign=top>
						<span class=norm>Graphic/Website Design</span><br>
					</td>
				</tr>
				<!--
				<tr>
					<td width=154>
						<span class=norm>
						<b>Jo Simmons<br>
						Luca Serra<br>
						Astellas USA Fond.<br>
						Pelican Products</b><br>
						<br>
						</span>
					</td>
					<td width=200 valign=top>
						<span class=norm>Special Thanks To</span><br>
					</td>
				</tr>
				-->
			</table>
