<% title 'Profiles' %>
<% body_class 'meet' %>

<h1>All Calendar Years</h1>

<img src=images/lilshimmy.gif height=15><br>
<table border=0 cellpadding=0 cellspacing=0>
  <tr>
    <td width=354>
      <span class=norm>
        <b>Select a firefighter above to learn more!</b><br>
        <br>
        Firefighters are everyday people, with one exception - when they go to work, they are literally putting their lives at risk. Along with the job comes a strong sense of camaraderie and honor. Click on any of the photos above for a glimpse into the lives of Chicago firefighters -- <i>Profile coming soon</i><br>
        <br>
      </span>
    </td>
  </tr>
</table>



<span class="years">
  <ul>
    <% @i = 0 %>
    <% @cal_years.each do |cal_year| %>
      <li class="<%= @i %>"><%= link_to cal_year.year, cal_year %></li>
      <% @i += 1 %>
      <% if admin? %>
        <br />
        <%= link_to 'Edit', edit_cal_year_path(cal_year) %> | <%= link_to 'Destroy', cal_year, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    <% end %>
  </ul>
</span>
