
			<img src=images/lilshimmy.gif height=15><br>
			<table border=0 cellpadding=0 cellspacing=0>
				<tr>
					<td width=354>
						<span class=norm>
						<b>Select a firefighter above to learn more!</b><br>
						<br>
						Firefighters are everyday people, with one exception - when they go to work, they are literally putting their lives at risk. Along with the job comes a strong sense of camaraderie and honor. Click on any of the photos above for a glimpse into the lives of Chicago firefighters.<br>
						<br>
						</span>
					</td>
				</tr>
			</table>
