/*---------------------------------------------------------
Ignite the Spirit Fund

file:			global stylesheet
description:	global styles for the Ignite the Spirit Fund site
version:		1.0
author:			Michael J.Pisula
date modified:	5.27.2008
copyright:		2008

---------------------------------------------------------*/

/* Global Styles */
body {
	background-image: url(images/ignite_bg.gif);
	margin: 10px 0px 0px 0px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
	
.floatleft {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float: left;
}

.floatright {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float: right;
}

.nav_container {
	border: solid #cccc23 0px;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	text-align: right;
	width: 838px;
	font-size: 11.5px;
	color: #FF9900;
}

		.nav_container ul {
			color: #FF9900;
			padding: 0px 0px 0px 0px;
			margin: 5px 0px 0px 0px;
			color: #000000;
		}

		.nav_container ul li { 
			display: inline; 
			color: #FF9900;
		}

		.nav_container ul li a {
			color: #FF9900;
			text-decoration: none;
			margin-right: 5px;
		}

		.nav_container ul li a:hover {
			color: #FFFFFF;
			text-decoration: underline;
		}
	
		.nav_container ul li a:active {
			color: #FF9900;
		}
	
		.nav_container a {
			color: #FF9900;
			text-decoration: none;
			margin-right: 5px;
		}

		.nav_container a:hover {
			color: #FFFFFF;
			text-decoration: none;
		}
	
		.nav_container a:active {
			color: #FF9900;
			text-decoration: none;
		}

		.nav_container a img{
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
			border: 0px 0px 0px 0px;
		}

.container {
	background-color:#FFFFFF;
	background-image: url(images/web_logo.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: bottom right;
	border: solid #666666 1px;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	text-align: left;
	width: 903px;
}

		.left {
			background-color: #FFFFFF;
			border: solid #bbbbbb 0px;
			padding: 0px px 0px 0px;
			margin: 0px 10px 0px 0px;
			overflow: auto;
			float:left;
			width: 202px;
		}

				.left_content {
					width: 200px;
					padding: 0px 0px 0px 0px;
					margin: 0px 0px 0px 0px;
					overflow: auto;
					background-color: #DDDDDD;
					padding: 0px 0px 0px 0px;
					margin: 0px 0px 5px 0px;
				}
				
				.logo_link img { 
				width: 200px;
				overflow: auto;
				padding: 0px 0px 0px 0px;
				margin: 0px 0px 5px 0px;
				border: none;
				
				}
				
				.left_content h3 { 
					padding: 8px 0px 0px 12px;
					margin: 0px 0px 5px 0px;
					font-weight:100;
					font-size: 14px;
					color: #444444; 
				}
				
				.left_content h3 a{ 
					padding: 0px 0px 0px 0px;
					margin: 0px 0px 0px 17px;
					font-size: 10px;
					color: #999999;
					text-decoration: none;
				}
				
				.left_content h3 a:hover { 
					font-size: 10px;
					color: #cc6600;
				}
				
				.left_content h3 a:active { 
					font-size: 10px;
					color: #999999;
				}
				
				.left_content label {
					padding: 0px 0px 0px 0px;
					margin: 5px 0px 4px 12px;
					font-size: 10px;
					color: #999999;
				}
				
				
				.left_content input {
					width: 175px;
					border: none;
					padding: 0px 0px 0px 0px;
					margin: 5px 0px 4px 12px;
				}
				
				#lc_submit {
					padding: 0px 0px 0px 0px;
					margin: 4px 13px 10px 0px;
					float: right;
					width: 75px;
				}

				.left_nav {
					padding: 4px 4px 4px 4px;
					margin: 0px 0px 0px 0px;
				}

						.left_nav li {
							border-bottom: solid 1px #AAAAAA;
							padding: 0px 0px 0px 0px;
							margin: 0px 0px 0px 0px;
							list-style-type: none;
							list-style-position: inside;
						}
				
						.left_nav li.bottom {
							border-bottom: solid 0px #AAAAAA;
						}

						.left_nav li a {
							font-size: 17px;
							padding: 5px 7px 5px 7px;
							margin: 0px 0px 0px 0px;
							display: block;
							color: #444444;
							text-decoration: none;
						}

						.left_nav li a:hover {
							background-color: #EEEEEE;
							color: #888888;
							text-decoration: none;
						}
		
						.left_nav li a:active {
							color: #666666;
							text-decoration: none;
						}

		.middle {
			border: solid #bbbbbb 0px;
			padding: 0px 0px 0px 0px;
			margin: 0px 10px 0px 0px;
			overflow: auto;
			float: left;
			width: 486px;
		}


				.middle_header {
					overflow: auto;
					background-color: #cc6600;
					padding: 0px 0px 0px 0px;
					margin: 0px 0px 10px 0px;
					color: #FFFFFF;
				}

						.middle_header h1 {
							padding: 0px 0px 0px 0px;
							margin: 0px 0px 10px 15px;
						}
		
						.middle_header h4{
							padding: 0px 0px 0px 0px;
							margin: 15px 0px 1px 15px;
						}

				.middle_content {
					overflow: auto;
					background-color: #888888;
					padding: 0px 0px 0px 0px;
					margin: 0px 0px 10px 0px;
				}

						.middle_content h1 {
							padding: 5px 0px 0px 5px;
							margin: 2px 2px 2px 2px;
							font-size: 18px;
							color: #FFCC66;
						}

						.middle_content p {
							padding: 0px 10px 10px 12px;
							margin: 0px 0px 0px 0px;
							font-size: 12px;
							color: #FFFFFF;
						}
	
						.middle_content_left {
							padding: 0px 0px 0px 0px;
							margin: 0px 0px 0px 0px;
							background-color: #888888;
							overflow: auto;
							float: left;
							width: 200px;
						}

								.middle_content_left h1 {
									padding: 5px 0px 0px 5px;
									margin: 2px 2px 2px 2px;
									font-size: 18px;
									color: #FFCC66;
								}

								.middle_content_left p {
									padding: 0px 10px 10px 12px;
									margin: 0px 0px 0px 0px;
									font-size: 12px;
									color: #FFFFFF;
								}

								.middle_content_left a {
									color: #FFCC66;
									text-decoration: none;
								}

								.middle_content_left a:hover {
									color: #CC6600;
									text-decoration: none;
								}
	
								.middle_content_left a:active {
									color: #FFCC66;
									text-decoration: none;
								}

					.middle_content_right {
						padding: 0px 0px 0px 0px;
						margin: 0px 0px 0px 0px;
						background-color: #FFCC66;
						overflow: auto;
						float: right;
						width: 280px;
					}
	
							.middle_content_right h1 {
								padding: 5px 0px 0px 5px;
								margin: 2px 2px 2px 2px;
								font-size: 18px;
								color: #CC6600;
							}
	
							.middle_content_right p {
								padding: 0px 10px 10px 12px;
								margin: 0px 0px 0px 0px;
								font-size: 12px;
								color:  #555555;
							}

							.middle_content_right a {
								color: #CC6600;
								text-decoration: none;
							}

							.middle_content_right a:hover {
								color: #FFFFFF;
								text-decoration: none;
							}
	
							.middle_content_right a:active {
								color: #CC6600;
								text-decoration: none;
							}

				.middle_secondary {
					border-top: solid #CC6600 4px;
					border-left: solid #CC6600 1px;
					overflow: auto;
					padding: 0px 0px 0px 0px;
					margin: 0px 0px 10px 0px;
				}

						.middle_secondary h2 {
							padding: 5px 0px 0px 7px;
							margin: 2px 2px 2px 2px;
							font-size: 18px;
							color: #CC6600;
						}

						.middle_secondary p {
							border-bottom: solid #DDDDDD 1px;
							padding: 0px 10px 7px 0px;
							margin: 0px 0px 7px 10px;
							font-size: 12px;
							color: #444444;
						}

		.right {
			border: solid #bbbbbb 0px;
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
			overflow: auto;
			float: right;
			width: 195px;
		}

				.big_right {
					background-color: #EEEEEE;
					border: solid #bbbbbb 0px;
					padding: 0px 0px 0px 0px;
					margin: 0px 0px 0px 0px;
					overflow: auto;
					float: right;
					width: 685px;
				}

						.big_right h1 {
							margin: 5px;
							font-size: 20px;
							color: #666666;
						}

						.big_right h2 {
							margin: 5px;
							font-size: 16px;
							color: #666666;
						}

						.big_right h3 {
							margin: 5px;
							font-size: 14px;
							color: #666666;
						}

						.big_right p {
							margin: 5px;
							font-size: 10px;
							color: #666666;
							margin-bottom: 10px;
						}

				.blurb {
					padding: 0px 0px 0px 5px;
					margin: 0px 0px 12px 0px;
					border-left: solid #CC6600 2px;
					color:#CC6600;
					}
	
						.blurb img { 
							background-color:#FFFFFF;
							border-width: 0px;
							padding: 0px 0px 0px 0px;
							margin: 0px 0px 0px 0px;
							color:#FFFFFF;
						}
	
						.blurb h3 {
							padding: 0px 0px 0px 0px;
							margin: 0px 0px 0px 0px;
							font-size: 18px;
						}


						.blurb p {
							padding: 0px 0px 0px 0px;
							margin: 0px 0px 0px 0px;
							font-size: 12px;
						}

						.blurb:hover {
							background-color: #CCCCCC;
							border-left: solid #CC6600 2px;
							color: #666666;
						}

						.blurb a {
							display: block;
							color:#CC6600;
							text-decoration: none;
							margin-right: 5px;
						}

						.blurb a:hover {
							display: block;
							color: #FFFFFF;
							text-decoration: underline;
						}
	
						.blurb a:active {
							display: block;
							color:#CC6600;
						}
		
				.blurb_square {
					overflow: auto;
					padding: 0px 0px 0px 0px;
					margin: 0px 0px 0px 0px;
					border-top: solid #cccccc 1px;
					border-left: solid #cccccc 1px;
					border-right: solid #cccccc 1px;
					border-bottom: solid #cccccc 1px;
					color:#CC6600;
				}
	
						.blurb_square_left {width: 60%; float: left;}
				
						.blurb_square_right {width: 40%; float: right;}

						.blurb_square h3 {
							color: #666666;
							text-align: center;
							padding: 0px 0px 0px 0px;
							margin: 0px 0px 0px 0px;
							font-size: 18px;
						}
/* End of Global Styles */

	
/* Calendar */

.calendar_header {
	overflow: auto;
	background-color: #cc6600;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
	color: #FFFFFF;
}

		.calendar_header h1 {
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 10px 15px;
		}

		.calendar_header h4{
			padding: 0px 0px 0px 0px;
			margin: 15px 0px 1px 15px;
		}


.calendar_content {
	border-top: solid #CC6600 4px;
	border-left: solid #CC6600 1px;
	overflow: auto;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
}

		.calendar_content h2 {
			padding: 5px 0px 0px 7px;
			margin: 2px 2px 2px 2px;
			font-size: 18px;
			color: #CC6600;
		}

		.calendar_content p {
			border-bottom: solid #DDDDDD 1px;
			padding: 0px 10px 10px 0px;
			margin: 0px 0px 0px 10px;
			font-size: 12px;
			color: #444444;
		}

.calendar_profile_photo {
	background-image: url(images/bg_tile_sm.gif);
	float: right;
	border: solid #999999 1px;
	padding: 0px 0px 40px 0px;
	margin: 0px 0px 10px 10px;
	}

.calendar_jan {
	/* background-image: url(images/january.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 35px 2px; */
	width: 193px;
	float: left;
	text-align:center;
}
.calendar_feb {
	/* background-image: url(images/february.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 35px 2px; */
	width: 193px;
	float: left;
	text-align:center;
}
.calendar_mar{
	/* background-image: url(images/march.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 35px 2px; */
	width: 193px;
	float: left;
	text-align:center;
}
.calendar_apr {
	/* background-image: url(images/april.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 35px 2px; */
	width: 193px;
	float: left;
	text-align:center;
}
.calendar_may {
	/* background-image: url(images/may.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 35px 2px; */
	width: 193px;
	float: left;
	text-align:center;
}
.calendar_jun {
	/* background-image: url(images/june.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 35px 2px; */
	width: 193px;
	float: left;
	text-align:center;
}
.calendar_jul {
	/* background-image: url(images/july.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 35px 2px; */
	width: 193px;
	float: left;
	text-align:center;
}
.calendar_aug {
	/* background-image: url(images/august.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 35px 2px; */
	width: 193px;
	float: left;
	text-align:center;
}
.calendar_sep {
	/*background-image: url(images/september.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 35px 2px; */
	width: 193px;
	float: left;
	text-align:center;
}
.calendar_oct {
	/* background-image: url(images/october.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 35px 2px; */
	width: 193px;
	float: left;
	text-align:center;
}
.calendar_nov {
	/* background-image: url(images/november.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 35px 2px; */
	width: 193px;
	float: left;
	text-align:center;
}
.calendar_dec {
	/* background-image: url(images/december.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 35px 2px; */
	width: 193px;
	float: left;
	text-align:center;
}

.calendararchive {
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #DDDDDD;
	text-align: center;
	
}

		.calendararchive h4{
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
			font-size: 24px;
			color: #666666;
		}

		.calendararchive a{
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
			text-decoration: none;
			font-size: 28px;
			color: #666666;
		}
	
		.calendararchive a:hover{
			color:#CC6600;
			}	

.calendar_thumb {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float: left;
	border: solid #FFFFFF 1px;
	width: 35px;
	height: 35px;
	float:left;
	background-color: #DDDDDD;
	}
	
.calendar_month {
	padding: 9px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float: left;
	width: 155px;
	text-align: center;
	color: #666666;
	font-size: 16px;
	}
	
	.calendar_month a {
	text-decoration: none;
	color: #666666;
	}
	
	.calendar_month a:hover {
	display: block;
	color: #cc6600;
	}
	
	.calendar_month a:active {
	color: #666666;
	}
	
.calendar_advertisement {
	overflow: auto;
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
	border-top: solid #cccccc 3px;
	border-left: solid #cccccc 1px;
	border-right: solid #cccccc 1px;
	border-bottom: solid #cccccc 1px;
	color:#CC6600;
}

		.calendar_advertisement h1 {
			padding: 3px 0px 3px 0px;
			margin: 0px 0px 0px 0px;
			font-size: 14px;
		}

		.calendar_advertisement p {
			padding: 2px 3px 2px 0px;
			margin: 5px 0px 0px 0px;
			background-color: #eeeeee ;
			border-top: solid #cccccc 1px;
			text-align: right;
			font-size: 10px;
			color:#999999;
		}
		
		.calendar_advertisement p a {
			text-decoration: none;
			color: #cc6600;
		}
		
		.calendar_advertisement p a:hover {
			color: #666666;
		}
		
		.calendar_advertisement p a:active {
			color: #cc9900;
		}
/* End of Calendar */

/* About */
.about_header {
	overflow: auto;
	background-color: #999999;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
	color: #FFFFFF;
}

		.about_header h1 {
			padding: 0px 0px 0px 0px;
			margin: 12px 0px 1px 15px;
		}

		.about_header h4{
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 10px 15px;
		}

.about_content {}

	.about_content p{
		font-size: 12px;
	}
	
	.about_supporters{
	padding: 0px 0px 12px 0px;
	font-size: 12px;
	float: left;
	width: 50%;
	}
	
	.about_content_left{
	width: 50%;
	}

/* End of About */

/* Store */
.store_header {
	overflow: auto;
	background-color: #999999;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
	color: #FFFFFF;
}

		.store_header h1 {
			padding: 0px 0px 0px 0px;
			margin: 12px 0px 1px 15px;
		}

		.store_header h4{
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 10px 15px;
		}

.store_content {}

	.store_content p{
		font-size: 12px;
	}
	
	.store_supporters{
	padding: 0px 0px 12px 0px;
	font-size: 12px;
	float: left;
	width: 50%;
	}
	
	.store_content_left{
	width: 50%;
	}
	
		.store_item {
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 5px 0px;
		overflow: auto;
		border-bottom: solid #cccccc 1px;
		}
		
		.item_image img{
		float: left;
		width: 100px;
		}
		
		.item_description {
		float: left;
		height: 100%;
		width: 285px;
		margin: 0px 5px 0px 5px;
		}
			.item_description h1 {
				padding: 0px 0px 0px 0px;
				margin: 0px 0px 4px 0px;
				font-size: 16px;
			}
		
		.item_price {
		text-align: center;
		float: left;
		width: 90px;
		height: 100%;
		margin: 0px 0px 0px 0px;
		}

/* End of Store */

/* Advertisements */

.banner_ad {
	padding: 5px 0px 10px 0px;
	}

/* End Advertisements */
