/* CSS Document */

body
{
	background-image: url(images/ignite_bg.gif);
	font-family: Helvetica, sans-serif;
	z-index: 1;
}


 #blanket {
background-color: #990000;
opacity: 0.55;
filter:alpha(opacity=65);
position: absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}

#popUpDiv {
position:absolute;
padding: 5px 5px 5px 5px;
border: solid  #333333 2px;
background-color:#eeeeee;
width:450px;
height:300px;
z-index: 9002;
}
	
.container {
	background-color: #FFFFFF;
	position: relative;
	margin: 0px 0px 0px 0px;
	border: solid #990000 1px;
	padding: 5px 5px 5px 5px;
	width: 800px;
}


.navigation 
{
position: relative;
bottom: -11px;
text-align: left;
margin-right: auto;
margin-left: auto;
width: 450px;
margin: 0px 0px 10px 0px;
padding: 0px 0px 0px 0px;
}
	
	.navigation li
	{
	margin: 0px 4px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: inline;
	}
	
	#current
	{
	padding: 3px 5px 0px 5px;
	border-top: solid #990000 1px;
	border-right: solid #990000 1px;
	border-left: solid #990000 1px;
	text-decoration: none;
	background-color:#990000;
	color: #FFFFFF;
	font-size: 18px;
	}
	
	#current:hover
	{
	background-color:#990000;
	color: #FFFFFF;
	}
	
	#current:active
	{
	background-color:#990000;
	color: #FFFFFF;
	}
	
	.navigation li a
	{
	background-color:#FFFFFF;
	padding: 3px 3px 0px 3px;
	border-top: solid #666666 1px;
	border-right: solid #666666 1px;
	border-left: solid #666666 1px;
	text-decoration: none;
	color:#666666;
	font-size: 14px;
	
	}
	
	.navigation li a:hover
	{
	background-color:#666666;
	color: #FFFFFF;
	}
	
	.navigation li a:active
	{
	color:#666666;
	}
	
h1 
{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-size: 18px;
left: 400px;
width: 400px;
position: relative;
bottom: -25px;
text-align: right;
color: #ffffff;
}

.news_title {
width: 700px;
float: left;
}

.edit {
padding: 0px 0px 4px 0px;
width: 50px;
float: left;
}

	.edit a {
	color: #00CC00;
	text-decoration: none;
	font-size: 12px;
	}
	
	.edit a:hover {
	color:#333333;
	
	}
	.edit a:active {
	color: #00CC00;
	}

.delete{
padding: 0px 0px 4px 0px;
width: 50px;
float: left;
}

	.delete a {
	color: #CC0000;
	text-decoration: none;
	font-size: 12px;
	}
	
	.delete a:hover {
	color:#333333;
	
	}
	.delete a:active {
	color: #00CC00;
	}
	
.news 
{
	text-align: left;
 }
 
.users
{
	overflow: auto;
	 width: 450px;
	 
}

.users span.name
{	
	margin-bottom: 5px;
	border-bottom: 1px solid #666666;
	float: left;
	width: 150px;
}

.users span.email
{	
	margin-bottom: 5px;
	border-bottom: 1px solid #666666;
	float: left;
	width: 200px;
}

.users span.useredit
{	
	margin-bottom: 5px;
	border-bottom: 1px solid #666666;
	text-align: center;
	float: left;
	width: 100px;
}
 
 
.pages {
	width: 455px;
	overflow: auto;
	} 
 
.pages_title {
	margin-bottom: 8px;
	border-bottom: 1px solid #666666;
	float: left;
	width: 250px;
	height: 15px;

}

 
.pages_status {
	margin-bottom: 8px;
	border-bottom: 1px solid #666666;
	float: left;
	width: 120px;
	height: 15px;

}
 
.pages_link {
	margin-bottom: 8px;
	border-bottom: 1px solid #666666;
	float: left;
	width: 75px;
	height: 15px;

}

	.pages_link a {
	color: #00CC00;
	text-decoration: none;
	font-size: 12px;
	}
	
	.pages_link a:hover {
	color:#333333;
	
	}
	.pages_link a:active {
	color: #00CC00;
	}

