<% title 'Store' %>
			<img src=images/lilshimmy.gif height=15><br>
			<img src=images/lilshimmy.gif width=15 height=18><img src=images/store_header.gif>
			<!--<h1>&nbsp; &nbsp; The Store Will Return Soon.</h1> -->
			<img src=images/lilshimmy.gif height=15><br> <br>

			<!--
			<center><font size="18"><i><b>2008 Calendar coming soon!</i></b></font></center>
			<span class=norm>
			Have an E-Mail sent to you when they are ready, just put your E-Mail address in the box and click submit!<br>
			<form action="store_preorder.aspx" method="post">
			E-Mail: <input class=norm style="width: 250px;" type="text" name="email">
			<br>
			<input type=image src=button_submit.gif border=0>
			</form>
			</span>
			-->
			
			<!--
			<table cellpadding=25><tr><td>The Shopping Cart page for ordering calendars will be shut down for a couple of days for repair. If you are looking to purchase a calendar go to the hot line number <b>773.507.1379</b> and leave a message and a member of the Ignite the Spirit team will return your call ASAP. Thank You and we are sorry for the inconvienence.</td></tr></table>
			-->
			
			
      <%= image_tag '2010/2010-cal-cover.jpg', :height => 300, :style => "padding: 5px;" %>
			
					<h3>2010 Chicago Firefighter Calendar</h3>
          <h5>Features 12 Male Chicago Firefighters and their stories.</h5>
			<table border=0>
				<tr>
					<td rowspan=2>
					</td>
					<td>
					</td>
				</tr>
				<tr>
			
					<td>
						<table>
							<tr>
								<td>
								<h3>$10.00 + S&amp;H </h3>
								</td>
								<td>
								<form method="POST" action="https://checkout.google.com/cws/v2/Merchant/153253128090852/checkoutForm" accept-charset="utf-8">
								<input type="hidden" name="item_name_1" value="2010 Chicago Firefighter Calendar"/>
							    <input type="hidden" name="item_description_1" value="Features 12 Male Chicago Firefighters and their stories."/>
  								<input type="hidden" name="item_quantity_1" value="1"/>
  								<input type="hidden" name="item_price_1" value="10.00"/>
	
  								<input type="hidden" name="ship_method_name_1" value="USPS"/>
  								<input type="hidden" name="ship_method_price_1" value="1.80"/>

  								<input type="hidden" name="tax_rate" value="0.000"/>
  								<input type="hidden" name="tax_us_state" value="NY"/>

  								<input type="hidden" name="_charset_"/>

  								<input type="image" name="Google Checkout" alt="Fast checkout through Google" src="https://checkout.google.com/buttons/buy.gif?merchant_id=153253128090852&amp;w=121&amp;h=44&amp;style=trans&amp;variant=text&amp;loc=en_US" height="35" width="90"/>

								</form>

								
								



								</td>
							</tr>
						</table>
					
					</td>
				</tr>
			</table>
			
